:root {
    --colorAqua: #00FFD8;
    --colorOrange: #FE4A49;
    --colorLightGray: #E6E6EA;
    --colorDarkBlack: #222;
    --colorLightBlack: #444;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: var(--colorLightBlack);
    font-size: 16px;
    line-height: 1.5em;
}

#body-wrapper {
    margin: 0 auto 7em auto;;
    width: clamp(100px, 95%, 950px);
}

h1, h2, h3, h4 {
    color: var(--colorDarkBlack);
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--colorDarkBlack);
    border-bottom: 4px solid var(--colorAqua);
    font-weight: bold;
    transition: background 1s linear;
    padding: 1px 3.5px;
}

a:hover {
    background: var(--colorAqua);
}

ul {
    padding: 0;
}

li {
    list-style: circle inside none;
}

li::marker {
    color: var(--colorAqua);
}

details {
    border: 4px solid black;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
}

summary {
    color: var(--colorDarkBlack);
    font-weight: bold;
}

code {
    font-family: monaco, monospace;
    color: var(--colorDarkBlack);
    background: var(--colorLightGray);
    padding: 1px 4px;
    border-radius: 5px;
}

.flex-sample-container {
    background: var(--colorLightGray);
    border-radius: 5px;
    min-height: 5em;
    padding: 1em;
}

.short-container {
    width: 300px;
}

.flex-sample-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--colorOrange);
    border: 3px dashed var(--colorDarkBlack);
    border-radius: 5px;
    width: 50px;
    color: #FFF;
}

#example-00 {
    display: flex;
}

#example-01 {
    display: inline-flex;
}

#example-02 {
    display: flex;
    flex-direction: row;
}

#example-03 {
    display: flex;
    flex-direction: row-reverse;
}

#example-04 {
    display: flex;
    flex-direction: column;
}

#example-05 {
    display: flex;
    flex-direction: column-reverse;
}

#example-06 {
    display: flex;
    flex-wrap: nowrap;
}

#example-07 {
    display: flex;
    flex-wrap: wrap;
}

#example-08 {
    display: flex;
    flex-wrap: wrap-reverse;
}
